.mule/plugins-tmp/repository/4.2.1-hf1/6c5ffe78-16d3-458a-ab4a-bb1d20224995/mule-plugin-american-flights-api/1.0.2/mule-plugin-american-flights-api-1.0.2-mule-plugin.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:mule="http://www.mulesoft.org/schema/mule/core" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.mulesoft.org/schema/mule/american-flights-api" attributeFormDefault="unqualified" elementFormDefault="qualified">
  <xs:import namespace="http://www.w3.org/XML/1998/namespace"></xs:import>
  <xs:import namespace="http://www.springframework.org/schema/beans" schemaLocation="http://www.springframework.org/schema/beans/spring-beans.xsd"></xs:import>
  <xs:import namespace="http://www.mulesoft.org/schema/mule/core" schemaLocation="http://www.mulesoft.org/schema/mule/core/current/mule.xsd"></xs:import>
  <xs:element xmlns:mule="http://www.mulesoft.org/schema/mule/core" substitutionGroup="mule:abstract-shared-extension" name="config">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mule:abstractExtensionType">
          <xs:sequence minOccurs="0" maxOccurs="1">
            <xs:element minOccurs="0" maxOccurs="1" ref="mule:abstractConnectionProvider"></xs:element>
            <xs:element minOccurs="0" maxOccurs="1" ref="mule:expiration-policy"></xs:element>
          </xs:sequence>
          <xs:attribute type="mule:expressionString" use="required" name="property_host"></xs:attribute>
          <xs:attribute type="mule:expressionString" use="required" name="property_port"></xs:attribute>
          <xs:attribute type="mule:expressionString" use="optional" default="/" name="property_basePath"></xs:attribute>
          <xs:attribute type="mule:expressionString" use="required" name="property_protocol"></xs:attribute>
          <xs:attribute type="mule:expressionString" use="optional" name="property_proxyConfig"></xs:attribute>
          <xs:attribute type="xs:string" use="required" name="name">
            <xs:annotation>
              <xs:documentation>The identifier of this element used to reference it in other components</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element xmlns:mule="http://www.mulesoft.org/schema/mule/core" substitutionGroup="mule:abstractConnectionProvider" name="connection">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mule:abstractConnectionProviderType">
          <xs:sequence minOccurs="0" maxOccurs="1"></xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/american-flights-api" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="Create-flightType" substitutionGroup="mule:abstract-operator" name="create-flight"></xs:element>
  <xs:complexType name="Create-flightType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
        <xs:sequence minOccurs="0" maxOccurs="1">
          <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="create-flight-request-data"></xs:element>
        </xs:sequence>
        <xs:attribute type="mule:expressionString" use="required" name="client-id"></xs:attribute>
        <xs:attribute type="mule:expressionString" use="required" name="client-secret"></xs:attribute>
        <xs:attribute xmlns="http://www.mulesoft.org/schema/mule/american-flights-api" type="AUTOGENERATED_ffde5c1f8190df064f033d2eb170cd214c6e5a0ea7fdc5dc4a9a156aec736114_EnumType" use="optional" name="request-streaming-mode"></xs:attribute>
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>The name of the configuration to be used to execute this component</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="optional" name="target">
          <xs:annotation>
            <xs:documentation>The name of a variable on which the operation's output will be placed</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" default="#[payload]" name="targetValue">
          <xs:annotation>
            <xs:documentation>An expression that will be evaluated against the operation's output and the outcome of that expression will be stored in the target variable</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/american-flights-api" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="Delete-flight-by-idType" substitutionGroup="mule:abstract-operator" name="delete-flight-by-id"></xs:element>
  <xs:complexType name="Delete-flight-by-idType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
        <xs:sequence minOccurs="0" maxOccurs="1"></xs:sequence>
        <xs:attribute type="mule:expressionString" use="required" name="id"></xs:attribute>
        <xs:attribute type="mule:expressionString" use="required" name="client-id"></xs:attribute>
        <xs:attribute type="mule:expressionString" use="required" name="client-secret"></xs:attribute>
        <xs:attribute xmlns="http://www.mulesoft.org/schema/mule/american-flights-api" type="AUTOGENERATED_ffde5c1f8190df064f033d2eb170cd214c6e5a0ea7fdc5dc4a9a156aec736114_EnumType" use="optional" name="request-streaming-mode"></xs:attribute>
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>The name of the configuration to be used to execute this component</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="optional" name="target">
          <xs:annotation>
            <xs:documentation>The name of a variable on which the operation's output will be placed</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" default="#[payload]" name="targetValue">
          <xs:annotation>
            <xs:documentation>An expression that will be evaluated against the operation's output and the outcome of that expression will be stored in the target variable</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/american-flights-api" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="Get-flight-by-idType" substitutionGroup="mule:abstract-operator" name="get-flight-by-id"></xs:element>
  <xs:complexType name="Get-flight-by-idType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
        <xs:sequence minOccurs="0" maxOccurs="1"></xs:sequence>
        <xs:attribute type="mule:expressionString" use="required" name="id"></xs:attribute>
        <xs:attribute type="mule:expressionString" use="required" name="client-id"></xs:attribute>
        <xs:attribute type="mule:expressionString" use="required" name="client-secret"></xs:attribute>
        <xs:attribute xmlns="http://www.mulesoft.org/schema/mule/american-flights-api" type="AUTOGENERATED_ffde5c1f8190df064f033d2eb170cd214c6e5a0ea7fdc5dc4a9a156aec736114_EnumType" use="optional" name="request-streaming-mode"></xs:attribute>
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>The name of the configuration to be used to execute this component</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="optional" name="target">
          <xs:annotation>
            <xs:documentation>The name of a variable on which the operation's output will be placed</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" default="#[payload]" name="targetValue">
          <xs:annotation>
            <xs:documentation>An expression that will be evaluated against the operation's output and the outcome of that expression will be stored in the target variable</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/american-flights-api" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="Get-flightsType" substitutionGroup="mule:abstract-operator" name="get-flights"></xs:element>
  <xs:complexType name="Get-flightsType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
        <xs:sequence minOccurs="0" maxOccurs="1"></xs:sequence>
        <xs:attribute xmlns="http://www.mulesoft.org/schema/mule/american-flights-api" type="AUTOGENERATED_83a9519bb2b90dbfd9aa29d361e971b12c86d6eb273ca814abd479ddfc659034_EnumType" use="optional" name="destination"></xs:attribute>
        <xs:attribute type="mule:expressionString" use="required" name="client-id"></xs:attribute>
        <xs:attribute type="mule:expressionString" use="required" name="client-secret"></xs:attribute>
        <xs:attribute xmlns="http://www.mulesoft.org/schema/mule/american-flights-api" type="AUTOGENERATED_ffde5c1f8190df064f033d2eb170cd214c6e5a0ea7fdc5dc4a9a156aec736114_EnumType" use="optional" name="request-streaming-mode"></xs:attribute>
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>The name of the configuration to be used to execute this component</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="optional" name="target">
          <xs:annotation>
            <xs:documentation>The name of a variable on which the operation's output will be placed</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" default="#[payload]" name="targetValue">
          <xs:annotation>
            <xs:documentation>An expression that will be evaluated against the operation's output and the outcome of that expression will be stored in the target variable</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/american-flights-api" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="Update-flight-by-idType" substitutionGroup="mule:abstract-operator" name="update-flight-by-id"></xs:element>
  <xs:complexType name="Update-flight-by-idType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
        <xs:sequence minOccurs="0" maxOccurs="1">
          <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="update-flight-by-id-request-data"></xs:element>
        </xs:sequence>
        <xs:attribute type="mule:expressionString" use="required" name="id"></xs:attribute>
        <xs:attribute type="mule:expressionString" use="required" name="client-id"></xs:attribute>
        <xs:attribute type="mule:expressionString" use="required" name="client-secret"></xs:attribute>
        <xs:attribute xmlns="http://www.mulesoft.org/schema/mule/american-flights-api" type="AUTOGENERATED_ffde5c1f8190df064f033d2eb170cd214c6e5a0ea7fdc5dc4a9a156aec736114_EnumType" use="optional" name="request-streaming-mode"></xs:attribute>
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>The name of the configuration to be used to execute this component</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="optional" name="target">
          <xs:annotation>
            <xs:documentation>The name of a variable on which the operation's output will be placed</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" default="#[payload]" name="targetValue">
          <xs:annotation>
            <xs:documentation>An expression that will be evaluated against the operation's output and the outcome of that expression will be stored in the target variable</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="AUTOGENERATED_ffde5c1f8190df064f033d2eb170cd214c6e5a0ea7fdc5dc4a9a156aec736114_EnumType">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="AUTO"></xs:enumeration>
          <xs:enumeration value="NEVER"></xs:enumeration>
          <xs:enumeration value="ALWAYS"></xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:propertyPlaceholderType"></xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <xs:simpleType name="AUTOGENERATED_83a9519bb2b90dbfd9aa29d361e971b12c86d6eb273ca814abd479ddfc659034_EnumType">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="LAX"></xs:enumeration>
          <xs:enumeration value="SFO"></xs:enumeration>
          <xs:enumeration value="CLE"></xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:propertyPlaceholderType"></xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
</xs:schema>