.mule/plugins-tmp/repository/4.2.1-hf1/com/mulesoft/connectors/mule-servicenow-connector/6.3.0/mule-servicenow-connector-6.3.0-mule-plugin.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:mule="http://www.mulesoft.org/schema/mule/core" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.mulesoft.org/schema/mule/servicenow" attributeFormDefault="unqualified" elementFormDefault="qualified">
  <xs:import namespace="http://www.w3.org/XML/1998/namespace"></xs:import>
  <xs:import namespace="http://www.springframework.org/schema/beans" schemaLocation="http://www.springframework.org/schema/beans/spring-beans.xsd"></xs:import>
  <xs:import namespace="http://www.mulesoft.org/schema/mule/core" schemaLocation="http://www.mulesoft.org/schema/mule/core/current/mule.xsd"></xs:import>
  <xs:complexType name="org.mule.runtime.extension.api.soap.MessageDispatcherProvider">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractExtensionType"></xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns:mule="http://www.mulesoft.org/schema/mule/core" xmlns:servicenow="http://www.mulesoft.org/schema/mule/servicenow" type="servicenow:org.mule.runtime.extension.api.soap.MessageDispatcherProvider" substitutionGroup="mule:abstract-shared-extension" abstract="true" name="global-abstract-message-dispatcher-provider"></xs:element>
  <xs:element xmlns:servicenow="http://www.mulesoft.org/schema/mule/servicenow" type="servicenow:org.mule.runtime.extension.api.soap.MessageDispatcherProvider" abstract="true" name="abstract-message-dispatcher-provider"></xs:element>
  <xs:complexType name="org.mule.modules.servicenow.extension.internal.dispatcher.BasicAuthHttpMessageDispatcherProvider">
    <xs:complexContent>
      <xs:extension xmlns:servicenow="http://www.mulesoft.org/schema/mule/servicenow" base="servicenow:org.mule.runtime.extension.api.soap.MessageDispatcherProvider">
        <xs:attribute xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="mule:expressionString" use="required" name="username"></xs:attribute>
        <xs:attribute xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="mule:expressionString" use="required" name="password"></xs:attribute>
        <xs:attribute xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="mule:expressionInt" use="optional" default="30000" name="readTimeout"></xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns:servicenow="http://www.mulesoft.org/schema/mule/servicenow" type="servicenow:org.mule.modules.servicenow.extension.internal.dispatcher.BasicAuthHttpMessageDispatcherProvider" substitutionGroup="servicenow:abstract-message-dispatcher-provider" abstract="true" name="abstract-basic-auth-http-message-dispatcher-provider"></xs:element>
  <xs:element xmlns:servicenow="http://www.mulesoft.org/schema/mule/servicenow" substitutionGroup="servicenow:abstract-basic-auth-http-message-dispatcher-provider" name="basic-auth-http-message-dispatcher-provider">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="servicenow:org.mule.modules.servicenow.extension.internal.dispatcher.BasicAuthHttpMessageDispatcherProvider"></xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="org.mule.modules.servicenow.extension.internal.dispatcher.HttpRequesterBasedTransportProvider">
    <xs:complexContent>
      <xs:extension xmlns:servicenow="http://www.mulesoft.org/schema/mule/servicenow" base="servicenow:org.mule.runtime.extension.api.soap.MessageDispatcherProvider">
        <xs:attribute xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="mule:expressionString" use="required" name="requesterConfig"></xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns:servicenow="http://www.mulesoft.org/schema/mule/servicenow" type="servicenow:org.mule.modules.servicenow.extension.internal.dispatcher.HttpRequesterBasedTransportProvider" substitutionGroup="servicenow:abstract-message-dispatcher-provider" abstract="true" name="abstract-http-requester-based-transport-provider"></xs:element>
  <xs:element xmlns:servicenow="http://www.mulesoft.org/schema/mule/servicenow" substitutionGroup="servicenow:abstract-http-requester-based-transport-provider" name="http-requester-based-transport-provider">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="servicenow:org.mule.modules.servicenow.extension.internal.dispatcher.HttpRequesterBasedTransportProvider"></xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element xmlns:mule="http://www.mulesoft.org/schema/mule/core" substitutionGroup="mule:abstract-shared-extension" name="config">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mule:abstractExtensionType">
          <xs:annotation>
            <xs:documentation>Default configuration</xs:documentation>
          </xs:annotation>
          <xs:sequence minOccurs="1" maxOccurs="1">
            <xs:element minOccurs="1" maxOccurs="1" ref="mule:abstractConnectionProvider"></xs:element>
            <xs:element minOccurs="0" maxOccurs="1" ref="mule:expiration-policy"></xs:element>
          </xs:sequence>
          <xs:attribute type="xs:string" use="required" name="name">
            <xs:annotation>
              <xs:documentation>The identifier of this element used to reference it in other components</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element xmlns:mule="http://www.mulesoft.org/schema/mule/core" substitutionGroup="mule:abstractConnectionProvider" name="basic-connection">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mule:abstractConnectionProviderType">
          <xs:sequence minOccurs="0" maxOccurs="1">
            <xs:element minOccurs="0" maxOccurs="1" ref="mule:reconnection"></xs:element>
            <xs:element minOccurs="0" maxOccurs="1" ref="mule:pooling-profile"></xs:element>
            <xs:element minOccurs="0" maxOccurs="1" name="user-tables">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" maxOccurs="unbounded" name="user-table">
                    <xs:complexType>
                      <xs:attribute type="mule:expressionString" use="required" name="value"></xs:attribute>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="1" name="transport">
              <xs:complexType>
                <xs:choice minOccurs="1" maxOccurs="1">
                  <xs:element xmlns:servicenow="http://www.mulesoft.org/schema/mule/servicenow" minOccurs="1" maxOccurs="1" ref="servicenow:abstract-message-dispatcher-provider"></xs:element>
                  <xs:element xmlns:servicenow="http://www.mulesoft.org/schema/mule/servicenow" minOccurs="1" maxOccurs="1" ref="servicenow:global-abstract-message-dispatcher-provider"></xs:element>
                </xs:choice>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute type="mule:expressionString" use="required" name="username"></xs:attribute>
          <xs:attribute type="mule:expressionString" use="required" name="password"></xs:attribute>
          <xs:attribute type="mule:expressionString" use="required" name="serviceAddress"></xs:attribute>
          <xs:attribute xmlns="http://www.mulesoft.org/schema/mule/servicenow" type="org.mule.modules.servicenow.extension.internal.ServiceNowVersionEnumType" use="optional" default="MADRID" name="serviceNowVersion"></xs:attribute>
          <xs:attribute type="mule:expressionList" use="optional" name="userTables"></xs:attribute>
          <xs:attribute type="xs:string" use="optional" name="transport"></xs:attribute>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/servicenow" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="InvokeType" substitutionGroup="mule:abstract-operator" name="invoke">
    <xs:annotation>
      <xs:documentation>invokes Web Service operations</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="InvokeType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
        <xs:sequence minOccurs="0" maxOccurs="1">
          <xs:element minOccurs="0" maxOccurs="1" ref="mule:abstract-reconnection-strategy"></xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="message">
            <xs:complexType>
              <xs:complexContent>
                <xs:extension base="mule:abstractExtensionType">
                  <xs:sequence>
                    <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="body"></xs:element>
                    <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="headers"></xs:element>
                    <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="attachments"></xs:element>
                  </xs:sequence>
                </xs:extension>
              </xs:complexContent>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="transport-headers">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" name="transport-header">
                  <xs:complexType>
                    <xs:attribute type="mule:expressionString" use="required" name="key"></xs:attribute>
                    <xs:attribute type="mule:expressionString" use="required" name="value"></xs:attribute>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>The name of the configuration to be used to execute this component</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="required" name="service"></xs:attribute>
        <xs:attribute type="mule:expressionString" use="required" name="operation"></xs:attribute>
        <xs:attribute type="mule:expressionMap" use="optional" name="transportHeaders"></xs:attribute>
        <xs:attribute type="xs:string" use="optional" name="target">
          <xs:annotation>
            <xs:documentation>The name of a variable on which the operation's output will be placed</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" default="#[payload]" name="targetValue">
          <xs:annotation>
            <xs:documentation>An expression that will be evaluated against the operation's output and the outcome of that expression will be stored in the target variable</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="org.mule.modules.servicenow.extension.internal.ServiceNowVersionEnumType">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="EUREKA"></xs:enumeration>
          <xs:enumeration value="FUJI"></xs:enumeration>
          <xs:enumeration value="GENEVA"></xs:enumeration>
          <xs:enumeration value="HELSINKI"></xs:enumeration>
          <xs:enumeration value="ISTANBUL"></xs:enumeration>
          <xs:enumeration value="JAKARTA"></xs:enumeration>
          <xs:enumeration value="KINGSTON"></xs:enumeration>
          <xs:enumeration value="MADRID"></xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:propertyPlaceholderType"></xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
</xs:schema>